app:
  host: localhost
  port: 8080

log:
  level: 1
  enable_console: true
  enable_file: false
  log_file_dir: ./logs
  log_file_name: bot.log

dingding:
  enable: true
  app_secret: your-dingding-app-secret-here

variables:
  - name: access_token
    value: 

targets:
  阿里云:
    - url: http://localhost:8802/
      variables:
        - name: access_token
          value: sss
    - url: http://localhost:8802/
      variables:
        - name: access_token
          value: sss
  腾讯云:
    - url: http://localhost:8802/

tasks:
  解锁ip:
    name: UnlockIP
    command: account/lock/ip?access_token={access_token}
  重启:
    name: Restart
    command: system/restart?access_token={access_token}
    check: system/live?access_token={access_token}
  健康检查:
    name: Health
    command: https://httpbin.org/get
    check: system/live?access_token={access_token}
    hidden: true
  测试:
    name: Dummy
    hidden: true
  帮助:
    name: ShowHelper

beat:
  # - target_name: 本地
  #   task_name: 健康检查